version: 2.1
      
jobs:
  build:
    docker:
      - image: cimg/base:2020.01
    steps:
      - run: echo "build job"  
      - run: echo ${MY_SECRET}
      
  test:
    docker:
      - image: cimg/base:2020.01
    steps:
      - run: echo "test job"
      - run: echo ${TEST_SECRET}
      
  deploy:
    docker:
      - image: cimg/base:2020.01
    steps:
      - run: echo "deploy"

workflows:
  build-test:
    jobs:
      - build
      - test
      - deploy 
      
      #test
   
  
